<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Capstone Design <%= teamNumber%>팀</h2>
    <h2><a href="https://github.com/uyttyu7532/HateWait-android" target="_blank">클라이언트 깃허브</a></h2>
    <h3><a href="https://www.notion.so/HATE-WAIT-fbfaac98a8f4470cbd39e4cf52614c46">Notion</a></h3>
    <p>임시 서버를 만들어 봤어요.</p>
    <table class="table">
      <thead>
        <th><%= teamMember[0]%></th>
        <th><%= teamMember[1]%></th>
        <th><%= teamMember[2]%></th>
      </tr>
      </thead>
    </table>
<!--  <p>sessionInfo : <%= sessionInfo %></p>-->
<!--  <p>cookieInfo : <%= cookieInfo %></p>-->
  </body>
</html>
